<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="navbar">
    <nav>
        <a href="/">Главная</a>
        <a href="/leaders">Таблица лидеров</a>
        <div style="margin-left: auto;">
            <div sec:authorize="isAuthenticated()">
                Привет, <a th:href="@{'/user/' + ${#authentication.name}}" style="color: #f0f; text-decoration: underline;">[[${#authentication.name}]]</a>
                (Звание: <span th:text="${currentUser != null ? currentUser.rank : 'Новичок'}">Новичок</span>)
                | <a href="/profile">Профиль</a>
                | <a th:href="@{/logout}">Выйти</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a href="/login">[Вход]</a> |
                <a href="/register">[Регистрация]</a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>