<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>Таблица лидеров</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/doors.js"></script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <h1>Таблица лидеров</h1>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Имя пользователя</th>
            <th>Звание</th>
            <th>Всего XP</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iter : ${users}">
            <td th:text="${iter.index + 1}">1</td>
            <td>
                <a th:href="@{'/user/' + ${user.username}}" th:text="${user.username}" style="color: #f0f; text-decoration: underline;">user</a>
            </td>
            <td th:text="${user.rank}">Новичок</td>
            <td th:text="${user.totalXp}">0</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>