<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <h1>Ошибка</h1>
    <div class="alert error" th:text="${error}">Ссылка недействительна</div>
    <p><a href="/forgot-password">Запросить новую ссылку</a></p>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>